<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <ul>
    <% docs.forEach(function(login){ %>
      <li>
        <%= login.nome %>
      </li>
      <% }) %>
  </ul>
</body>

</html>